@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager
@inject AppDbContext dbContext

@{
    ViewData["ReturnUrl"] = Context.Request.Path + Context.Request.QueryString;
    var user = await userManager.GetUserAsync(User);
    string avatarPath = "";
    MemberType memberType = MemberType.Free;
    DateTime? startTime = null;
    DateTime? endTime = null;
    long usedStorage = 0;
    long totalStorage = 500;
    string usedStorageDisplay = "0MB";
    string totalStorageDisplay = "500MB";

    if (user != null)
    {
        avatarPath = user.AvatarPath ?? "/images/no_avt.jpg";
        var membership = dbContext.Memberships
        .Where(m => m.UserId == user.Id)
        .Select(m => new
        {
            MembershipType = m.MembershipDetails != null ? m.MembershipDetails.MembershipType : MemberType.Free,
            m.StartTime,
            m.EndTime,
            StorageLimitMB = m.MembershipDetails != null ? m.MembershipDetails.StorageLimitMB : 500
        })
        .FirstOrDefault();
        if (membership != null)
        {
            memberType = membership.MembershipType;
            startTime = membership.StartTime;
            endTime = membership.EndTime;
            totalStorage = membership.StorageLimitMB;
        }
        usedStorage = (dbContext.EditedImages
        .Where(i => i.UserId == user.Id)
        .Sum(i => (long?)i.ImageKBSize) ?? 0) / 1024;

        totalStorageDisplay = totalStorage < 1024
        ? $"{totalStorage} MB"
        : $"{(totalStorage / 1024.0):0.0}GB";

        usedStorageDisplay = usedStorage < 1024
        ? $"{usedStorage} MB"
        : $"{(usedStorage / 1024.0):0.0}GB";
    }
}

<link rel="stylesheet" href="~/css/account-nav.min.css" asp-append-version="true" />

<div class="account-nav">
    <div class="dropdown text-center navbar">
        @if (signInManager.IsSignedIn(User) && user != null)
        {
            <!-- Dropdown button -->
            <a class="dropdown-account dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@avatarPath" alt="avatar" class="rounded-circle" style="height: 38px;"> @user.UserName
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu text-align-left shadow-lg user">
                <li>
                    <div class="user-box">
                        <div class="avatar-lg"><img src="@avatarPath" alt="image profile" class="avatar-img rounded"></div>
                        <div class="u-text">
                            <p><strong>@user.UserName</strong></p>
                            <p class="email">@user.Email</p>
                            <a asp-area="Identity" asp-controller="User" asp-action="Index" class="btn-manage"><i
                                    class="fas fa-cogs"></i> Quản lý</a>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Profile" asp-action="Index">
                        <i class="fas fa-edit"></i> Thay đổi thông tin
                    </a>
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Option" asp-action="Index">
                        <i class="fas fa-wrench"></i> Tuỳ chọn
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" asp-area="ImageTools" asp-controller="ManageIMG" asp-action="Index">Danh sách
                        ảnh</a>
                    <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="ListContacts">Danh sách
                        liên hệ</a>
                    <hr class="dropdown-divider">
                    <div class="membership">
                        <p class="title">Membership</p>
                        <div class="d-flex">
                            <p><i class="fas fa-crown"></i> @memberType</p>
                            <a class="btn-membership" asp-area="Membership" asp-controller="MshipRegister" asp-action="Index">Nâng cấp</a>
                        </div>
                        @if (memberType != MemberType.Free)
                        {
                            <p class="membership-period">
                                @startTime?.ToString("dd/MM/yyyy HH:mm") - @endTime?.ToString("dd/MM/yyyy HH:mm")
                            </p>
                        }
                    </div>
                    <hr class="dropdown-divider">
                    <div class="storage">
                        <p class="title">Dung lượng lưu trữ</p>
                        <span>@usedStorageDisplay/@totalStorageDisplay</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                style="width: @((usedStorage * 100) / totalStorage)%" aria-valuenow="@usedStorage"
                                aria-valuemin="0" aria-valuemax="@totalStorage">
                                @((usedStorage * 100) / totalStorage)%
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="LogOff"><i
                            class="fas fa-sign-out-alt"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        }
        else
        {
            <ul class="guest">
                <li>
                    <a class="btn-login" asp-area="Identity" asp-controller="Account" asp-action="Login"
                        asp-route-returnurl="@ViewData["ReturnUrl"]">
                        Đăng nhập
                    </a>
                </li>
                <li>
                    <a class="btn-register" asp-area="Identity" asp-controller="Account" asp-action="Register"
                        asp-route-returnurl="@ViewData["ReturnUrl"]">
                        Đăng ký
                    </a>
                </li>
            </ul>
        }
    </div>
</div>