<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | PerfectPix</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <script type="importmap"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />

    @RenderSection("PageStyles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="logo">
                    <p>PerfectPix</p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-links navbar-nav">
                        <li class="nav-item"><a class="nav-link @(ViewBag.NavLink == "Index" ? "active" : "")"
                                asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link @(ViewBag.NavLink == "Generation" ? "active" : "")"
                                href="#">Sinh ảnh</a></li>
                        <li class="nav-item"><a class="nav-link @(ViewBag.NavLink == "Tools" ? "active" : "")"
                                href="#">Công cụ</a></li>
                    </ul>
                    <div class="account-nav ms-auto">
                        <partial name="_AccountNavPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
